<form class="float-right mb-1 mt-1 d-inline" method="post" action="{{ path('salle_delete', {'id': salle.id}) }}" onsubmit="return confirm('Etes-vous sûr?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
