{% extends 'base.html.twig' %}

{% block title %}Ajouter Epreuve{% endblock %}

{% block body %}
    {{ include('epreuve/_form.html.twig') }}

    <a class="btn btn-secondary ml-2 mt-1" href="{{ path('epreuve_index') }}">Retour</a>
{% endblock %}
